{% extends 'base.html' %}
{% block content %}
<div class="container">
  <header class="header">
    <h3 class="mt-5 mb-3">마켓 등록 상품</h3>
    <h3 class="date mt-5 mb-3"></h3>
  </header>
  <main class="main">
    <section class="graph-section">
      <button class="graph-fold">그래프 보기</button>
      <div class="graph-wrap graph-none">
        <div class="graph">
          <div class="carousel-wrapper">
            <div class="carousel">
              <div class="image">
                <p class="number">카테고리별 상품 개수</p>
                <img src="{{ url_for('static', filename='images/category_bar.png') }}" />
<!--                    <img-->
<!--                      src="https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L2ZsMjM0MTcwNjg4MTItaW1hZ2Uta3FhcDlyZHcuanBn.jpg"-->
<!--                    />-->
              </div>
              <div class="image">
                <p class="number">가격대별 상품 개수</p>
                <img src="{{ url_for('static', filename='images/price_bar.png') }}" />
<!--                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1a/24701-nature-natural-beauty.jpg" />-->
              </div>
            </div>
          </div>
          <div class="buttons">
            <!-- <button id="dark" onclick="darkmode();">&#9679;</button> -->
            <button id="prev" onclick="clickPrev()">prev</button>
            <button id="one" onclick="clickButton(1)">카테고리별</button>
            <button id="two" onclick="clickButton(2)">가격대별</button>
            <button id="next" onclick="clickNext()">next</button>
          </div>
        </div>
      </div>
    </section>
    <section class="form-section">
      <form class="form">
        <div class="form-search">
          <div class="category">
            <select class="form-select">
              <option selected>카테고리</option>
              {% for i in cate_list %}
              <option value="{{i.category_id}}">{{i.name}}</option>
              {% endfor %}
              <!-- <option value="top">상의</option>
              <option value="bottom">하의</option>
              <option value="shoes">신발</option>
              <option value="accessory">패션잡화</option> -->
            </select>
          </div>
          <div class="search">
            <input type="text" class="form-input" placeholder="브랜드나 상품명 입력" />
          </div>
          <div class="search-btn">
            <button type="button" id="search-btn" class="btn btn-info form-btn">검색</button>
          </div>
          <div class="update-btn">
            <button type="button" id="update-btn" class="btn btn-info form-btn">업데이트</button>
          </div>
        </div>
        <div class="del-btn">
          <button type="button" id="del-btn" class="btn btn-info del-btn">삭제</button>
        </div>
      </form>
    </section>
    <section class="table-section">
      <table id="table" class="table-sm">
        <thead>
          <tr>
            <th scope="col">선택</th>
            <th scope="col">카테고리</th>
            <th scope="col">브랜드</th>
            <th scope="col">상품명</th>
            <th scope="col">가격</th>
            <th scope="col">추가된 날짜</th>
            <th scope="col">재고</th>
          </tr>
        </thead>
        <tbody id="data-table">
          {% for item in data_list %}
          <tr class="item{{item.id}}">
            <td>
              <input type="checkbox" onclick="handle_checkbox('{{item.id}}')">
            </td>
            <td>
              <a href="https://fruitsfamily.com/discover/product/{{item.category}}" target="_blank">{{item.category}}</a>
            </td>
            <td>
              <a href="https://fruitsfamily.com/brand/{{item.brand}}" target="_blank">{{item.brand}}</a>
            </td>
            <td>
              <a href="{{item.url}}" target="_blank">{{item.product}}</a>
            </td>
            <td>{{item.price}}</td>
            <td>{{item.date}}</td>
            <td>
              {% if item.sold == 0 %}
                판매중
              {% else %}
                품절
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </main>
  <footer class="footer">
    <nav class="pagination-nav" aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="github-icon">
      <a href="https://github.com/ysolarh/Fruitsfamily-project" target="_blank"><i class="fa-brands fa-square-github"></i></a>
    </div>
  </footer>
</div>
{% endblock %}